PORT=5000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=uma_db
UPLOADS_DIR=uploads      # Optional: custom absolute path or relative path to store uploads folder


JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

# SMTP Configuration for Email Notifications
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM=no-reply@udupimanagement.org

# Temporary Server Diagnostics Page Access Key
DIAGNOSTIC_KEY=your_diagnostic_secret_key

